/* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    } */
    
    /* body {
        padding: 20px;
        background-color: #f9f9f9;
        color: #333;
    } */
    
    header {
        background-color: #0073e6;
        color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    
    header h1 {
        font-size: 2rem;
    }
    
    header p {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    
    section {
        margin: 20px 0;
    }
    
    h2 {
        font-size: 1.6rem;
        color: #0073e6;
        margin-bottom: 10px;
    }

    h3 {
    font-size: 1.3rem;
    color: #333;
    }
    
    ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 22px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    
    table th {
        background-color: #0073e6;
        color: white;
    }
    
    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    table tr:hover {
        background-color: #ddd;
    }
    
    table td {
        font-size: 0.9rem;
    }
    
    @media (max-width: 768px) {
        header h1 {
            font-size: 1.5rem;
        }
    
        header p {
            font-size: 1rem;
        }
    
        h2 {
            font-size: 1.4rem;
        }
    
        table {
            font-size: 0.8rem;
        }
    }